.nobook {
    text-align: center;
    align-items: center;
    justify-items: center;
    margin-top: 150px;
    color: red;

}

.bookDetailsContainer {
    margin-top: 10px;
    margin-left: 350px;
}

@media (max-width: 932px) {
    .bookDetailsContainer {
        margin-left: 80px;
        margin-right: 80px;
    }
}