/* styles/Footer.module.css */
.footer {
    display: flex;
    text-align: center;
    padding-bottom: 0;
    padding: 20px;
    background-color: #79ebeb;
    margin-top: auto;
  }
  
  .githubIcon {
    margin-right: 8px;
    vertical-align: middle;
  }

  .space {
    flex-grow: 1;
  }

  .space01 {
    margin-right: 10px;
  }