/* styles/Header.module.css */

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #54e4e4;
}

.space {
  margin-right: 15px;
}

.s1 {
  margin-left: 10px;
}

.loginButton {
  margin-left: 20px;
  text-decoration: none;
  color: #fff;
  padding: 8px 16px;
  border: 1px solid #396b9d;
  border-radius: 4px;
}

.loginButton:hover {
  background-color: #454594;
  color: #fff;
}

/* メディアクエリ */
@media (max-width: 768px) {
  .container {
    flex-direction: column; /* 画面幅が768px以下の場合は縦に並べる */
    text-align: center; /* 中央揃えにする */
  }

  .loginButton {
    margin-left: 0; /* 画面幅が768px以下の場合は左に寄せない */
    margin-top: 10px; /* ボタン間の余白を追加 */
  }
}
