/* ボタンを横並び */
.all {
  display: flex;
}

.button {
  display: inline-block;
  align-items: center;
  height: 200px;
  width: 280px;
  padding: 60px 20px;
  font-size: 40px;
  text-align: center;
  text-decoration: none;
  background-color: #007bff; 
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
} 

.button:hover {
  background-color: #0056b3; 
}

/* ボタン1の高さを設定するスタイル */
.button1 {
  margin-top: 120px;
  height: 250px; 
}

/* ボタン2の高さを設定するスタイル */
.button2 {
  height: 250px; 
}

/* テキストを中央揃えにするスタイル */
.centerText {
  display: flex;
  flex-direction: column;
  justify-content: center; /* 垂直方向にも中央寄せ */
  align-items: center;
  text-align: center;
}

/* ボタンに隙間を追加するスタイル */
.buttonWithPadding {
  padding: 60px;
}

/* ボタンを中央配置するスタイル */
.buttonCentered {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ボタン間のスペースを追加するスタイル */
.buttonSpacing {
  margin-top: 120px; 
}

/* Footerの固定  */
.mainContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.s1 {
  border: double 10px #900;
  background-color: #c60;
  max-width: 100%; 
  max-height: 100%; 
}


@media (max-width: 750px) {
  .slider {
    width: 90%; /* スライダーの幅をデバイスの幅の90%に設定 */
    margin: 0 auto; /* 中央寄せ */
    margin-right: 20px;
  }

  .rk {
      font-size: 34px;
  }

  .button:hover {
    background-color: #0056b3; 
  }

  .all {
      flex-direction: column; /* スマートフォン用に縦に並べる */
      align-items: center; /* 中央に配置 */
  }

  .button {
      height: 150px;
      width: 186px;
      font-size: 24px; /* ボタンのフォントサイズを調整 */
  }

  .button1,
  .button2 {
      height: 150px;
  }

  .buttonWithPadding {
      padding: 40px;
  }

  .buttonSpacing,
  .button1 {
      margin-bottom: 10px; /* スマートフォン用にマージンを調整 */
      margin-top: 0; /* 上マージンをリセット */
  }

  .space {
    margin-top: 50px; /* スペースのマージンを調整 */
  }
}

.sliderContainer {
  width: 80%; /* コンテナの幅を指定 */
  margin: 0 auto; /* 左右中央に配置 */
  padding: 20px; /* コンテナの内側の余白を指定 */
  background-color: #fffdcf; /* 背景色を指定 */
  border-radius: 10px; /* 角丸を指定 */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* ボックスシャドウを指定 */
  margin-bottom: 34px;
}

.slider {
  width: 100%; /* スライダー全体の幅を調整 */
}

/* スライド間のマージンを0に設定 */
.slick-slider {
  margin: 0 auto;
}

/* スライド間のマージンを0に設定 */
.slick-slide {
  margin-right: 0px;
}

/* スライド間のマージンを0に設定 */
.slick-list {
  margin: 0 -10px; /* スライドの左右にマージンを持つことで間隔を調整 */
}

/* スライダーの間隔を調整 */
.slick-slide div {
  padding: 0 5px; /* スライド内の要素の左右のパディングを設定 */
}

.slick-prev,
.slick-next {
  font-size: 20px; /* ボタンのサイズを調整 */
  color: white; /* ボタンの文字色を白に設定 */
  background-color: rgba(0, 0, 0, 0.5); /* ボタンの背景色を半透明の黒に設定 */
  border-radius: 50%; /* ボタンの角丸を50%に設定 */
}

/* スライダーのボタンにマウスを乗せたときのスタイル */
.slick-prev:hover,
.slick-next:hover {
  background-color: rgba(0, 0, 0, 0.7); /* マウスを乗せたときの背景色を濃いめの黒に変更 */
}

/* スライダーのボタンを中央配置するスタイル */
.slick-prev {
  left: 20px; /* 左ボタンの位置を調整 */
  z-index: 1; /* ボタンを手前に表示 */
}

.slick-next {
  right: 20px; /* 右ボタンの位置を調整 */
  z-index: 1; /* ボタンを手前に表示 */
}

.book_h2 {
  text-align: center;
  
}