/* styles/Liviray.module.css */
.mainContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.errorContainer {
  color: red;
}


.form {
  margin-right: -10px;
  /* width: 300px;
  height: 10em; */
  
}

.text {
  width: 260px;
  height: 45px;
  padding: 3px 10px;
  border-radius: 5px;
  border: 2px solid #b3b3b3;
}

.searchContainer {
  display: flex;
  gap: 10px; /* フォーム要素間のスペース */
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 画面全体の高さに合わせる */
}

.loading-spinner img {
  width: 50px; /* GIFの幅に合わせて調整してください */
  height: 50px; /* GIFの高さに合わせて調整してください */
}

.loadingContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.loadingSpinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #333;
  border-radius: 50%;
  margin: 0 5px;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0%, 50%, 100% {
    opacity: 0;
  }
  25%, 75% {
    opacity: 1;
  }
}

/* 貸出状況の色は表示設定 */
.display {
  margin-right: 64px;
  display: flex;
}
.displayLoaned {
  color: darkred;
  border: 2px solid darkred;
  background-color: #fff;
  border-radius: 4px;
}

.displayAvailable {
  color: #ffffff;
  border: 2px solid #006bc5;
  background-color: #006bc5;
  border-radius: 4px;
}

/* 予約Url */
.ss1 {
  color: blue;
  text-align: center; /* テキストを中央揃えにする */
  margin-top: 10px; /* 適切なマージンを設定してください */
  display: flex;
}

/* ページネーション */
.pagination {
  margin-bottom: 40px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.page {
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.currentPage {
  background-color: #007BFF;
  color: #fff;
}

/* 結果表示の全体 */
.results {
  height: 150px;
  width: 850px;
  display: flex;
  margin-bottom: 30px;
  margin-top: 34px;
  justify-content: space-between; /* 要素間のスペースを均等に配置する */
  align-items: center;
  border: 3px solid #3ecfff;
  margin-right: 10%;
  background-color: rgb(250, 238, 223);
  box-sizing: border-box;
}

/* タイトルと著者のスタイル */
.title-author {
  display: flex;
  flex-direction: column;
}


/* タイトルが25文字を超えた場合に改行するスタイルを追加 */
.breakLine {
  white-space: pre-line;
  width: 308px;
}

/* 写真の設定 */
.image01 {
  margin-top: 5px;
}


/* スペース空け */
.space {
  margin-right: 10px;
}