.mypage02 {
    padding-left: 10px;
}

.mypage01 {
    padding-right: 10px;
}

.secondContainer {
    margin: 20px 160px 160px;
    margin-bottom: 10px;
}

.h1 {
    font-size: 56px;
    margin-top: 15px;
    height: 45px;
}

.box1 {
    padding: 0.5em 1.5em;
    margin: 2em 0;
    color: #232323;
    background: #fcf2dc;
    border-left: solid 10px #6ee7ff;
}

.box1 a {
    margin: 0;
    padding: 0;
}

.menuItem {
    border-bottom: 2px solid #ccc;
    width: 210px;
    padding-bottom: 9px;
    margin-bottom: 23px;
  }

 .menuItem :hover {
    color: #565656;
 } 

.space {
    margin-left: 30px;
}

.menuAndNotification {
    display: flex;
    align-items: flex-start; /* 上端に揃える */
  }
  
  .menuContainer {
    display: flex;
    flex-direction: column;
  }
  
  .notification {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #ccc;
    margin-left: 90px;
    margin-top: -5px;
    width: 500px;
  }
  
  .notification h3 {
    margin-right: 10px;
  }
  
  .notification p {
    margin: 0;
  }
  
  .setumei{
    margin-left: 60px;
    margin-right: 80px;
    margin-top: 20px;
  }

  @media (max-width: 992px) {
    .secondContainer {
      margin: 34px;
    }
  
    .notification {
      display: flex;
      align-items: center;
      border-bottom: 2px solid #ccc;
      padding-right: 200px;
      margin-left: 20px;
      height: 45px;
      /* 下線の横の長さを変更 */
      border-bottom-width: 50%; /* 50%の幅に設定 */
    }
  
    .notification h3 {
      margin-right: 10px;
    }
  
    .notification p {
      margin: 0;
    }

    .additionalInfo {
        margin-top: 5px; /* 追加情報とお知らせの下線の間に余白を追加 */
      }
  }