.mypage02 {
    padding-left: 10px;
}

.mypage01 {
    padding-right: 10px;
}

.secondContainer {
    margin: 20px 160px 160px;
    margin-bottom: 10px;
}

.h1 {
    font-size: 56px;
    margin-top: 15px;
    height: 45px;
}

.box1 {
    padding: 0.5em 1.5em;
    margin: 2em 0;
    color: #232323;
    background: #fcf2dc;
    border-left: solid 10px #6ee7ff;
}

.box1 a {
    margin: 0;
    padding: 0;
}

.menuItem {
  position: relative;
  border-bottom: 2px solid #ccc;
  width: 210px;
  padding-bottom: 9px;
  margin-bottom: 23px;
  text-align: center;
  cursor: pointer;
}

.menuItem a {
  position: relative;
  text-decoration: none;
  color: #232323;
}

.menuItem a:hover {
  color: #565656;
}

.menuItem a:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background-color: #232323;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.menuItem a:hover:before {
  transform: scaleX(1);
}

/* カーソルが枠にないときのスタイル */
.menuItem:hover a:before {
  background-color: #fff;
}

.space {
    margin-left: 30px;
}

.menuAndNotification {
    display: flex;
    align-items: flex-start; /* 上端に揃える */
  }
  
  .menuContainer {
    display: flex;
    flex-direction: column;
  }
  
  .notification {
    margin-left: 30px;
  }
  
  .notification h3 {
    margin-right: 10px;
  }
  
  .notification p {
    margin-left: 0px;
  }
  
  .setumei{
    margin-left: 60px;
    margin-right: 80px;
    margin-top: 20px;
  }

  .logout {
    cursor: pointer;
  }

  /* 最近見た本 */
  .notification01 {
    margin-left: 5%;
    margin-right: 10px;
  }
  .menuItem01 {
    margin-left: 20px;
    justify-items: center;
    text-align: center;
    position: relative;
    border-bottom: 2px solid #ccc;  
    text-align: center;
    cursor: pointer;
  }

  .additionalInfo {
    margin-top: 0px; 
    font-size: 24px;
  }

  

  .FavoriteBooksContainer {
    display: flex;
    align-items: center;
    border: 3px solid #3ecfff;
    margin-right: 10%;
    background-color: rgb(250, 238, 223);
    box-sizing: border-box;
    margin-top: 20px;
    width: 810px;
  }
  
  .bookInfo {
    display: flex;
    align-items: center;
  }
  
  .bookDetails {
    flex-grow: 1;
    padding: 20px;
    text-align: center; /* テキストを中央揃えにする */
    margin-left: 150px;
    margin-right: 10px;
  }
  
  .bookDetails p {
    margin: 5px 0; /* 各要素のマージンを調整 */
  }
  
  /* 新しく追加したスタイル */
  .bookTitle {
    font-weight: bold;
  }
  
  .bookAuthor,
  .bookSalesDate {
    color: #666;
  }
  

  @media (max-width: 992px) {
    .menuItem01 {
      margin-left: 25px;
      margin-right: 40px;
    }
    .menuItem01 h3:before {
      width: 100%;
    }

    .secondContainer {
      margin: 34px;
    }
  
    .FavoriteBooksContainer {
      height: 100%;
      width: 150%;
      margin-right: 20zpx;   
    }
  
    .notification h3 {
      margin-right: 10px;
    }
  
    .notification p {
      margin: 0;
    }

    .additionalInfo {
        margin-top: 0px; 
        font-size: 24px;
      }

    .notification01 {
      margin-left: -25px;
      margin-right: 130px;
    }
    .bookDetails {
       margin-left: 10px;
       margin-right: 5px;
    }
    .menuAndNotification {
      display: contents;
    }
    .Image {
      display: none;
    }
    .saikin {
      margin-right: 200px;
    }
  }