/* Ranking.module.css */

.container {
  text-align: center;
  margin-top: 50px;
}

.h1 {
  font-size: 28px;
}

.ul {
  list-style: none;
  padding: 0;
}

.listItem {
  display: flex;
  align-items: center;
  margin: 10px;
  padding: 10px;
  max-width: 1000px; /* 最大横幅を設定 */
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #ccc; /* 薄い線を追加 */
}

.rank {
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px; /* ランクとコンテンツの間の余白 */
}

.content {
  display: flex;
  align-items: center;
  flex-grow: 1; /* コンテンツが残りのスペースを占めるように */
}

.title {
  font-size: 18px;
  flex-grow: 1; /* タイトルが残りのスペースを占めるように */
  margin-right: 10px; /* タイトルと画像の間の余白 */
}

.img {
  width: 90px; /* 画像の幅を調整 */
  height: auto;
}

.p {
  font-size: 10px;
  color: blue;
  margin-left: 10px; /* 余白を追加 */
  white-space: nowrap; /* テキストの改行を禁止 */
}

@media (max-width: 768px) {
  /* 画面が小さい場合のスタイル調整 */
  .listItem {
    flex-direction: column;
    max-width: 100%; /* 最大横幅を100%に設定 */
  }

  .img {
    width: 100%; /* 画面幅いっぱいに表示 */
    margin-top: 10px;
  }

  .rank,
  .title {
    margin: 0; /* ランクとタイトルの余白をリセット */
  }

  .p {
    margin: 0; /* 詳細・購入の余白をリセット */
  }
}

