.mainContainer {
  min-width: 320px;  /* これは一例で、適切な値に調整してください */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden; /* 横方向のオーバーフローを隠す */
}

.search {
    display: inline-block;
    width: 100%;
    max-width: 350px; /* ボタン幅 */
    color: #4D9BC1; /* 文字色 */
    border: 2px solid #4D9BC1; /* 線幅・種類・色 */
    background: #fff; /* 背景色 */
    padding: 1em 2em;
    font-weight: bold; /* 文字の太さ */
    text-decoration: none;
    text-align: center;
    transition: 0.3s;
    margin-top: 40px;
  }
  .search:hover {
    color: #fff; /* 文字色 */
    background: #4D9BC1; /* 背景色 */
  }
  .paginationStyle {
  margin-bottom: 100px;
  }
.booksearch {
  font-size: 28px;
  font-family: "MS PMincho";
}
  /* search_rakuten.module.css */

/* search_rakuten.module.css */
.scrollToTopButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgba(0, 123, 255, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.scrollToTopButton:hover {
  background-color: rgba(0, 123, 255, 0.8);
}

.paginationContainer {
  position: relative;
}


.heartIcon {
  font-size: 40px; /* 40pxに変更 */
  margin-left: 330px; /* マージンを調整 */
  margin-inline-end: auto;
  color: #c2c2c2;
  cursor: pointer;
  transition: color 0.3s ease;
}

.heartIcon:hover {
  color: #fc26e785;
}

.displayFavorite {
  font-size: 40px; /* 40pxに変更 */
  margin-left: 330px; /* マージンを調整 */
  margin-inline-end: auto;
  color: #fc26e7;
  cursor: pointer;
  transition: color 0.3s ease;
}

@media (max-width: 992px) {
  .heartIcon {
    margin-left: 120px; /* この値を調整して、枠内に収まるようにします。 */
    font-size: 40px;
    color: #c2c2c2;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .displayFavorite {
    margin-left: 120px; 
    padding-top: 20px;
    font-size: 40px;
    color: #fc26e7;
    cursor: pointer;
    transition: color 0.3s ease;
  }

  
}
