.mainContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url('../public/images/Bookshodow.png');
}
.touroku {
  border: 3px solid #2544c6;
  border-radius: 5px;
  display: block;
  width: 310px;
  height: 38px;
  padding: 15px;
  box-sizing: border-box;
  background: #ABE1FA;
  color: black;
  text-decoration: none;
  text-align: center;
  margin: 10px 0;
}
.touroku:hover{
  color: #ABE1FA;
  background-color: white;
}
  .google {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 320px;
    height: 40px;
    padding: 8px 24px;
    font-family: sans-serif;
    font-size: 16px;
    color: #f6bfbc;
    text-align: center;
    overflow-wrap: anywhere;
    background-color: transparent;
    border: 2px solid black;
  }
 
  
  @media (any-hover: hover) {
    .google {
      transition: background-color 0.2s;
    }
  
    .google:hover {
      background-color: #b8b8b8;
    }
  }